* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.5);
}

.cabecalho-principal {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: end;
    background: #000;
    height: 100px;
}

.cabecalho-principal a {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: greenyellow;
    text-decoration: none;
}

.meio-cabeçalho{
    padding: 1rem;
}

.gradiente {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 50%);
    height: 100px;
}

.logo a img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    object-fit: cover;
}

.navegacao-principal ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 200px;
    top: 100px;
    right: 0px;
    background: black;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.navegacao-principal ul li{
    border: solid gray 1px;
}

.navegacao-principal.ativo ul {
    display: flex;
}

.navegacao-principal.ativo li {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    text-align: center;
}

#btn-mobile {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 4.2rem 1rem 1rem;
    
    
}
